parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#.+Generated\\Shared\\Transfer.+.#'
        - '#.+Generated\\.+.\\Ide\\AutoCompletion#'
